assets/*
!assets/.gitignore
protected/config/db.php
protected/config/params.php
protected/runtime/*
!protected/runtime/.gitignore
!protected/runtime/cache/.gitignore
protected/data/*.db
images/*
/nbproject/*
upload/*
!upload/.gitignore
upload/Agency/*
!upload/Agency/.gitignore
!upload/Foto/thumb/.gitignore
!upload/Foto/watermarked/.gitignore
!upload/Watermark/.gitignore
/index.php
/admin.php
/api.php
/protected/yiic.php